.tanu{
    background-image:url(home.jpg);
    height: 100vh;
}
.Para{
    text-align:center;
}
.hi{
    text-align:center;
}
.s1{
    text-align:center;
    font-size: 18px;
    padding:6px;
}